/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

/*BOTONES*/

.button{
    -fx-text-fill: white;
    -fx-background-color: #235882;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
}
.button:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #148591 0%, #0c5961 100%),
        #35e5fc,
        #126873,
        radial-gradient(center 50% 50%, radius 100%, #148591, #0c5961);
}
.button:pressed {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #131c42 0%, #131c42 100%),
        #2a4bd4,
        #126873,
        radial-gradient(center 50% 50%, radius 100%, #131c42, #131c42);
}

.button Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}
/*Tablas*/
.root{
    -fx-background-color: #262626;
}

/*Paneles*/
.TopPane{
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-background-color: #233342;
}
.table-view{
   -fx-background-color: transparent;
}
.table-view:focused{
    -fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}
.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}
.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}
.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}
.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

/*Paneles pestaña*/
.TabPaneBase{
    -fx-tab-min-width: 300px;
    -fx-background-color: #376287;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #273f54;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #183247;

}
.tab-pane .tab{

}
.tab-pane .tab:selected
{
    -fx-background-color: #376287;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 14px;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}